:root {
  --turtle-color: var(--color-accent);
  --editor-bg: #1e1f1f;
  &.light {
    --editor-bg: #f5f5f5;
  }
  --z-base: 21;
  --z-button: 25;
  --z-resizer: 30;
  --z-fullscreen: 51;
}

.turtlewrapper {
  resize: both;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden;
  position: relative;
  z-index: var(--z-base);
  background-color: var(--editor-bg);
  & .row {
    display: flex;
    flex: 1 1 200px;
    width: 100%;
    &.output {
        flex: 0 0 auto;
    }
  }
  & .panel {
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    /* min-height: 200px; */
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    /* padding-bottom: 35px; */
  }
  & .resetcode {
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    margin: 10px;
    z-index: var(--z-button);
  }
  &.fullscreen {
    position: fixed;
    z-index: var(--z-fullscreen);
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  & a {
    text-decoration: none !important;
  }
}

.monacoeditor {
  /* resize: horizontal; // It's possible but not as nice the the custom vertical line */
  /* overflow: hidden; */
  /* background-color: var(--light); */
  /* & .editor-container {
    height: calc(100% - 35px);
    width: 100%;
  } */
  & .monaco-editor { position: absolute !important; }
}
.graphicspanel {
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  cursor: grab;
  z-index: var(--z-base);
  & .graphicswrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:active {
    cursor: grabbing;
  }
}
.outputpre {
  background-color: var(--editor-bg);
  font-family: Consolas, "Courier New", monospace;
  color: var(--gray);
  width: 100%;
  max-height: 10rem;
  overflow-x: auto;
  padding: 0px;
  border-radius: 3%;
  margin: 0;
  counter-reset: line;
  border-top: 3px solid var(--tw-prose);
  opacity: 0.3;
  margin-top: 0px;
  &:not(:empty) {
    opacity: 0.8;
  }
  & span {
    display: block;
    line-height: 1.5rem;
    &::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 0.5em;
      margin-right: 0.5em;
      color: #888;
    }
    &.warning {
      color: var(--callout-warning);
    }
    &.error {
      color: var(--callout-danger);
    }
  }
}

.resizerH {
  flex: none;
  width: 3px;
  cursor: col-resize;
  background-color: rgba(255, 255, 255);
  opacity: 0.3;
  z-index: var(--z-resizer);
  &:hover {
    opacity: 0.8;
  }
  /* Increasing clicking area with pseudo-elements */
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
  }
  &::before {
    width: 4px;
    margin-left: -4px;
  }
  &::after {
    width: 13px;
  }
}

.fullscreen-button {
  color: var(--gray);
  border-color: var(--dark);
  background-color: var(--light);
  border: 1px solid;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s;
  z-index: var(--z-button);

  & > svg {
    fill: var(--light);
    filter: contrast(0.3);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--secondary);
  }

  &:focus {
    outline: 0;
  }
}

.turtlewrapper {
  &:hover .fullscreen-button {
    opacity: 1;
    transition: 0.2s;
  }
}
